.background {
    background-color: 000000;
}
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.violet {
    background-color: violet;
}

.green,
.yellow,
.orange,
.red,
.violet {
    padding: 5px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}