.background {
    background-color: 000000;
}

.uvindex {
    padding: 5px;
}

.one-fifth {
    margin: 5px;
    padding: 5px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}